workflows/claude-with-tools.json
{
  "name": "Claude with Tools",
  "nodes": [
    {
      "parameters": {},
      "id": "r3s4t5u6-1234-5678-abcd-123456789012",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7,
          "thinking": true,
          "thinkingBudget": 2048
        }
      },
      "id": "v7w8x9y0-1234-5678-abcd-123456789012",
      "name": "Anthropic Chat Model",
      "type": "n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Anthropic Account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-1234-5678-abcd-987654321098",
      "name": "Tool Calculator",
      "type": "n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e5f6g7h8-1234-5678-abcd-987654321098",
      "name": "Tool Http Request",
      "type": "n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        460,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "i9j0k1l2-1234-5678-abcd-987654321098",
      "name": "Tool Wikipedia",
      "type": "n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        460,
        780
      ]
    },
    {
      "parameters": {
        "agentType": "tools",
        "systemMessage": "You are a helpful agent that can use tools to help answer questions. For math calculations, use the Calculator tool. For getting information online, use the Wikipedia tool.",
        "options": {
          "input": "{{$json.query}}"
        }
      },
      "id": "m3n4o5p6-1234-5678-abcd-987654321098",
      "name": "Agent",
      "type": "n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Define the query\nreturn {\n  query: \"What is the square root of 256 plus the population of Paris divided by 1000?\"\n};"
      },
      "id": "q7r8s9t0-1234-5678-abcd-987654321098",
      "name": "Set Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        120
      ]
    },
    {
      "parameters": {
        "chatInput": "={{$json.output}}",
        "options": {
          "initialMessages": [
            {
              "role": "system",
              "content": "This demonstrates Claude's ability to use tools for complex tasks."
            }
          ]
        }
      },
      "id": "u1v2w3x4-1234-5678-abcd-987654321098",
      "name": "Chat Trigger",
      "type": "n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Anthropic Chat Model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tool Calculator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tool Http Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tool Wikipedia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Http Request": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "Tool Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Chat Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Query": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "name": "anthropic"
    },
    {
      "name": "claude"
    },
    {
      "name": "agent"
    },
    {
      "name": "tools"
    }
  ],
  "pinData": {},
  "versionId": "abcdef-1234-5678-ghijk",
  "triggerCount": 0,
  "createdAt": "2025-04-02T12:00:00.000Z",
  "updatedAt": "2025-04-02T12:00:00.000Z"
}
